<div class="container">
  <div class="card mb-3 mt-3">
    <div class="card-header">Заявка: {{ pending }}</div>
    <div class="card-body">
      {% if pending.recipient.pk == request.user.pk %}
        <form action="" method="post">
          {% csrf_token %}
          <input type="hidden" name="sender" value="{{ pending.sender.pk }}">
          <button type="submit" class="btn btn-info mx-sm-3">Принять</button>
          <button type="submit" name="submit" value="reject" class="btn btn-danger mx-sm-3">Отклонить</button>
        </form>
      {% endif %}
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>
</div>
