<div class="container">
  <div class="card mb-3 mt-3">
    <div class="card-header">Пользователь: {{ user.username }}</div>
    <div class="card-body">
      {% with request.resolver_match.view_name as view_name %}
      {% if view_name == 'users:user_list' %}
        <form action="" method="post">
          {% csrf_token %}
          <input type="hidden" name="recipient" value="{{ user.pk }}">
          <button type="submit" class="btn btn-info mx-sm-3">Добавить в друзья</button>
        </form>
      {% endif %}
      {% endwith %}
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>
</div>
